.form-alert-tip{
  display: none;
}

.form-group.has-error .form-alert-tip {
  display: block !important;
}

.form-alert-tip {
  border: 1px solid #cea0a5;
  background: #ffdce0;
  color: #86181d;
  padding: 0 5px;
  margin-top: 5px;
  position: absolute;
  border-radius: 3px;
}

.form-alert-tip:before{
  position: absolute;
  bottom: 100%;
  left: 10px;
  z-index: 15;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border: solid transparent;
  border-bottom-color: #cea0a5;
  margin-left: -1px;
  border-width: 6px;
}

.form-alert-tip:after{
  position: absolute;
  bottom: 100%;
  left: 10px;
  z-index: 15;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border: solid transparent;
  border-bottom-color: #ffdce0;
  border-width: 5px;
}

#reg-form .control-label {
  margin-bottom: 5px;
}

.spinner {
  margin: 0 auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
/*#navigation_mobile .userinfo .dropdown-menu{*/

/*position: static;*/

/*float: none;*/

/*text-align: center;*/

/*background-color: #2d3339;*/

/*}*/

/*#navigation_mobile .userinfo .dropdown-menu a:hover {*/

/*color: #000;*/

/*}*/

/*#navigation .nav{*/

/*overflow: auto !important;*/

/*}*/
