.form-alert-tip{
    display: none;
}

.form-group.has-error .form-alert-tip {
    display: block !important;
}

.form-alert-tip {
    border: 1px solid #cea0a5;
    background: #ffdce0;
    color: #86181d;
    padding: 0 5px;
    margin-top: 5px;
    position: absolute;
    border-radius: 3px;
}
.form-alert-tip:before{
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: #cea0a5;
    margin-left: -1px;
    border-width: 6px;
}
.form-alert-tip:after{
    position: absolute;
    bottom: 100%;
    left: 10px;
    z-index: 15;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border: solid transparent;
    border-bottom-color: #ffdce0;
    border-width: 5px;
}

#reg-form .control-label {
    margin-bottom: 5px;
}

/*#navigation_mobile .userinfo .dropdown-menu{*/
    /*position: static;*/
    /*float: none;*/
    /*text-align: center;*/
    /*background-color: #2d3339;*/
/*}*/
/*#navigation_mobile .userinfo .dropdown-menu a:hover {*/
    /*color: #000;*/
/*}*/
/*#navigation .nav{*/
    /*overflow: auto !important;*/
/*}*/