.App {
  text-align: center;
}

.App-logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.App-header .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
